<a href="https://colab.research.google.com/github/Sravani-Samsani/letsupgrade-python-b7/blob/master/day2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# List

In [ ]:
lst=[10,20,"jyo",'a',20]
print(lst)

[10, 20, 'jyo', 'a', 20]

In [75]:
#append()
lst.append("jai")
print(lst)

['jai']

In [76]:
#clear()
del lst[:]
print(lst)

[]

In [77]:
#copy()
lst=[10,[20,30,8],"jyo"]
a=lst
print(a)

[10, [20, 30, 8], 'jyo']

In [78]:
#shallow copy()
import copy 
a=[10,20,30]
b=copy.copy(a)
print(a)
print(b)

[10, 20, 30]
[10, 20, 30]

In [79]:
#deep copy()
import copy
a=[10,20,'a',[1,9,7]]
b=copy.deepcopy(a)
a[3][1]=5
print(a)
print(b)

[10, 20, 'a', [1, 5, 7]]
[10, 20, 'a', [1, 9, 7]]

In [80]:
#count()
a=[9,5,8,9]
count=a.count(9)
print(count)

2

In [81]:
#extend()
a=["python","JAVA",23,5.78]
b=["test",5,40.56]
a.extend(b)
print(a)

['python', 'JAVA', 23, 5.78, 'test', 5, 40.56]

In [82]:
#index()
lst=[20,"srav",19,"jyo",60.78]
index=lst.index("jyo")
print("The index of jyo is:",index)

The index of jyo is: 3

In [83]:
#insert()
lst=[10,[2,3,4],"srav"]
lst.insert(2,"jyo")
print(lst)

[10, [2, 3, 4], 'jyo', 'srav']

In [84]:
#POP()
lst=[10,"ravi",78.90,[0,8]]
return_value=lst.pop(3)
print("returnedvalue:",return_value)
print("updated List:",lst)

returnedvalue: [0, 8]
updated List: [10, 'ravi', 78.9]

In [85]:
#remove()
lst=["srav",89,"jyo",56]
lst.remove("srav")
print("updated list:",lst)

updated list: [89, 'jyo', 56]

In [86]:
#reverse()
lst=[10,"jyo",90.98]
print("old list:",lst)
a=lst[::-1]
print("new list:",a)

old list: [10, 'jyo', 90.98]
new list: [90.98, 'jyo', 10]

# dict

In [29]:
my_dict = {'name': 'Jack', 'mob': 2687456}
print(my_dict['name'])
print(my_dict.get('mob'))
print(my_dict)

Jack
2687456
{'name': 'Jack', 'mob': 2687456}

In [87]:
#clear()
d={"bird":"pegion","colour":"white"}
d.clear()
print(d)

{}

In [88]:
#copy()
d={"bird":"pegion","colour":"white"}
new=d.copy()
print("original:",d)
print("new:",new)

original: {'bird': 'pegion', 'colour': 'white'}
new: {'bird': 'pegion', 'colour': 'white'}

In [40]:
d={"bird":"pegion","colour":"white"}
new=d
d.clear()
print("original:",d)
print("new:",new)

original: {}
new: {}

In [42]:
d={"bird":"pegion","colour":"white"}
new=d.copy()
d.clear()
print("original:",d)
print("new:",new)

original: {}
new: {'bird': 'pegion', 'colour': 'white'}

In [89]:
#from keys()
keys = {'a', 'e', 'i', 'o', 'u' }
value = [1]

vowels = dict.fromkeys(keys, value)
print(vowels)

# updating the value
value.append(2)
print(vowels)

{'i': [1], 'u': [1], 'e': [1], 'o': [1], 'a': [1]}
{'i': [1, 2], 'u': [1, 2], 'e': [1, 2], 'o': [1, 2], 'a': [1, 2]}

In [90]:
#get()
d={"bird":"pegion","colour":"white"}
print('bird:', d.get('bird'))
print('colour: ', d.get('colour'))
print('breed: ', d.get('breed'))

bird: pegion
colour:  white
breed:  None

In [91]:
#items()
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

items = sales.items()
print('Original items:', items)

# delete an item from dictionary
del[sales['apple']]
print('Updated items:', items)

Original items: dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])
Updated items: dict_items([('orange', 3), ('grapes', 4)])

In [92]:
#keys()
a = {'thing': 'chair', 'colour': "black" }

print('Before dictionary is updated')
keys = a.keys()
print(keys)

# adding an element to the dictionary
a.update({'material': "wood"})
print('\nAfter dictionary is updated')
print(keys)

Before dictionary is updated
dict_keys(['thing', 'colour'])

After dictionary is updated
dict_keys(['thing', 'colour', 'material'])

In [93]:
#pop()
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

element = sales.pop('apple')
print('The popped element is:', element)
print('The dictionary is:', sales)

The popped element is: 2
The dictionary is: {'orange': 3, 'grapes': 4}

In [94]:
#popitem()
a = {'thing': 'chair', 'colour': "black",'material': "wood" }
#material is inserted last,so it will be removed
result = a.popitem()
print('Return Value = ', result)
print('a = ', a)

# inserting a new element pair
a['no.of chairs'] = 5
print(a)

Return Value =  ('material', 'wood')
a =  {'thing': 'chair', 'colour': 'black'}
{'thing': 'chair', 'colour': 'black', 'no.of chairs': 5}

In [95]:
#default()
person = {'name': 'jyo'}

# key is not in the dictionary
salary = person.setdefault('salary')
print('person = ',person)
print('salary = ',salary)

# key is not in the dictionary
# default_value is provided
age = person.setdefault('age', 40)
print('person = ',person)
print('age = ',age)

person =  {'name': 'jyo', 'salary': None}
salary =  None
person =  {'name': 'jyo', 'salary': None, 'age': 40}
age =  40

In [96]:
#update()
d = {1: "one", 2: "three"}
d1 = {2: "two"}

# updates the value of key 2
d.update(d1)
print(d)

d1 = {3: "three"}

# adds element with key 3
d.update(d1)
print(d)

{1: 'one', 2: 'two'}
{1: 'one', 2: 'two', 3: 'three'}

In [97]:
#values()
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }

values = sales.values()
print('Original items:', values)

# delete an item from dictionary
del[sales['apple']]
print('Updated items:', values)

Original items: dict_values([2, 3, 4])
Updated items: dict_values([3, 4])

# Set

In [58]:
my_set = {1, 2, 3, 4, 3, 2}
print(my_set)

{1, 2, 3, 4}

In [98]:
#remove()
language = {'English', 'French', 'German'}
language.remove('German')
print('Updated language set:', language)

Updated language set: {'English', 'French'}

In [99]:
#add()
vowels = {'a', 'e', 'u'}

# a tuple ('i', 'o')
tup = ('i', 'o')

# adding tuple
vowels.add(tup)
print('Vowels are:', vowels)

# adding same tuple again
vowels.add(tup)
print('Vowels are:', vowels)

Vowels are: {'u', 'a', ('i', 'o'), 'e'}
Vowels are: {'u', 'a', ('i', 'o'), 'e'}

In [100]:
#copy()
numbers = {1, 2, 3, 4}
new_numbers = numbers.copy()

new_numbers.add(5)

print('numbers: ', numbers)
print('new_numbers: ', new_numbers)

numbers:  {1, 2, 3, 4}
new_numbers:  {1, 2, 3, 4, 5}

In [101]:
#clear()
numbers = {1, 2, 3, 4}
new_numbers = numbers.copy()
numbers.clear()
print('numbers: ', numbers)
print('new_numbers: ', new_numbers)

numbers:  set()
new_numbers:  {1, 2, 3, 4}

In [102]:
#difference()
A = {'a', 'b', 'c', 'd'}
B = {'c', 'f', 'g'}

# Equivalent to A-B
print(A.difference(B))

# Equivalent to B-A
print(B.difference(A))

{'a', 'b', 'd'}
{'f', 'g'}

In [103]:
#setdifference_update()
A = {'a', 'c', 'g', 'd'}
B = {'c', 'f', 'g'}

result = A.difference_update(B)

print('A = ', A)
print('B = ', B)
print('result = ', result)

A =  {'d', 'a'}
B =  {'f', 'c', 'g'}
result =  None

In [105]:
#discard()
numbers = {2, 3, 4, 5}

numbers.discard(3)
print('numbers = ', numbers)

numbers =  {2, 4, 5}

In [104]:
#intersection()
A = {2, 3, 5, 4}
B = {2, 5, 100}
C = {2, 3, 8, 9, 10}

print(B.intersection(A))
print(B.intersection(C))
print(A.intersection(C))
print(C.intersection(A, B))

{2, 5}
{2}
{2, 3}
{2}

In [73]:
#intersection_update()
A = {1, 2, 3, 4}
B = {2, 3, 4, 5, 6}
C = {4, 5, 6, 9, 10}

result = C.intersection_update(B, A)

print('result =', result)
print('C =', C)
print('B =', B)
print('A =', A)

result = None
C = {4}
B = {2, 3, 4, 5, 6}
A = {1, 2, 3, 4}

In [72]:
#isdisjoint()
A = {'a', 'b', 'c', 'd'}
B = ['b', 'e', 'f']
C = '5de4'
D ={1 : 'a', 2 : 'b'}
E ={'a' : 1, 'b' : 2}

print('Are A and B disjoint?', A.isdisjoint(B))
print('Are A and C disjoint?', A.isdisjoint(C))
print('Are A and D disjoint?', A.isdisjoint(D))
print('Are A and E disjoint?', A.isdisjoint(E))

Are A and B disjoint? False
Are A and C disjoint? False
Are A and D disjoint? True
Are A and E disjoint? False

In [106]:
#issubset()
A = {1, 2, 3}
B = {1, 2, 3, 4, 5}
C = {1, 2, 4, 5}

# Returns True
print(A.issubset(B))

# Returns False
# B is not subset of A
print(B.issubset(A))

# Returns False
print(A.issubset(C))

# Returns True
print(C.issubset(B))

True
False
False
True

In [114]:
#pop()
A ={'a', 'b', 'c', 'd'}
print('Return Value is', A.pop())
print('A = ', A)

Return Value is a
A =  {'b', 'c', 'd'}

In [115]:
#symmetric_difference()
A = {'a', 'b', 'c', 'd'}
B = {'c', 'd', 'e' }
C = {}

print(A.symmetric_difference(B))
print(B.symmetric_difference(A))

print(A.symmetric_difference(C))
print(B.symmetric_difference(C))

{'b', 'e', 'a'}
{'b', 'e', 'a'}
{'a', 'b', 'c', 'd'}
{'c', 'e', 'd'}

In [116]:
#symmetric_difference_update()
A = {'a', 'c', 'd'}
B = {'c', 'd', 'e' }

result = A.symmetric_difference_update(B)

print('A =', A)
print('B =', B)
print('result =', result)

A = {'a', 'e'}
B = {'c', 'e', 'd'}
result = None

In [117]:
#union()
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A.union(B))
print('B U C =', B.union(C))
print('A U B U C =', A.union(B, C))
print('A.union() =', A.union())

A U B = {2, 'c', 'd', 'a'}
B U C = {1, 2, 3, 'c', 'd'}
A U B U C = {1, 2, 3, 'c', 'd', 'a'}
A.union() = {'a', 'c', 'd'}

In [121]:
A = {'a', 'c', 'd'}
B = {'c', 'd', 2 }
C = {1, 2, 3}

print('A U B =', A| B)
print('B U C =', B | C)
print('A U B U C =', A | B | C)

A U B = {2, 'c', 'd', 'a'}
B U C = {1, 2, 3, 'c', 'd'}
A U B U C = {1, 2, 3, 'c', 'd', 'a'}

In [120]:
#update()
A = {'a', 'b'}
B = {1, 2, 3}
result = A.update(B)
print('A =', A)
print('result =', result)

A = {1, 2, 3, 'a', 'b'}
result = None

# Tuples

In [122]:
t=("srav",90.35,"jyo")
print(t)

('srav', 90.35, 'jyo')

In [125]:
#index()
t=("srav",90.35,"jyo",[5,7])
print(t[3][1])

7

In [126]:
#negativeindex()
t=("srav",90.35,"jyo",[5,7])
print(t[-1])

[5, 7]

In [127]:
#count()
vowels = ('a', 'e', 'i', 'o', 'i', 'u')

count = vowels.count('i')

# print count
print('The count of i is:', count)

# count element 'p'
count = vowels.count('p')

# print count
print('The count of p is:', count)

The count of i is: 2
The count of p is: 0

# Boolean

In [128]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False

In [129]:
print(bool("Hello"))
print(bool(15))

True
True